/* 
	BEM Syntax
	.block {}
	.block__element {}
	.block--modifier {}
	.block__element--modifier {}
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-size: 62.5%;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1em;
}

#navigation {
	font-size: 1em;
}

#main_content {
	font-size: 1.2em;
}

#footer {
	font-size: 1em;
}

input,
select,
th,
td {
	font-size: 1em;
}

.hidden {
	visibility: hidden;
}

.nav {
	background-color: black;
	color: whitesmoke;
	display: flex;
	height: 40px;
}
.nav__title {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100%;
}

.nav__title__logo {
	justify-self: center;
}

.nav__hamburger {
	width: fit-content;
	padding: 10px;
	position: absolute;
}

.nav__hamburger__svg {
	margin: 1em;
	background-color: salmon;
}

.nav__hamburger--closed {
}
